---
http_interactions:
- request:
    method: post
    uri: https://iam.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=GetUser&Version=2010-05-08
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20150616T044245Z
      X-Amz-Content-Sha256:
      - ***REMOVED***
      Authorization:
      - AWS4-HMAC-SHA256 Credential=***REMOVED***/20150616/us-east-1/iam/aws4_request,
        SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date,
        Signature=***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 22092767-13e2-11e5-aff5-83f674803ecb
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <GetUserResponse xmlns="https://iam.amazonaws.com/doc/2010-05-08/">
          <GetUserResult>
            <User>
              <Path>/</Path>
              <PasswordLastUsed>2015-06-15T23:52:26Z</PasswordLastUsed>
              <Arn>arn:aws:iam::111111111111:user/aaaaaaaaa</Arn>
              <UserName>aaaaaaaaa</UserName>
              <UserId>AAAAAAAAAAAAAAAAAAAAA</UserId>
              <CreateDate>2014-07-03T08:28:15Z</CreateDate>
            </User>
          </GetUserResult>
          <ResponseMetadata>
            <RequestId>22092767-13e2-11e5-aff5-83f674803ecb</RequestId>
          </ResponseMetadata>
        </GetUserResponse>
  recorded_at: Tue, 16 Jun 2015 04:42:46 GMT
recorded_with: VCR 2.9.3
