---
http_interactions:
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeImages&DryRun=false&Owner.1=self&Version=2014-10-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20150421T075055Z
      X-Amz-Content-Sha256:
      - ***REMOVED***
      Authorization:
      - AWS4-HMAC-SHA256 Credential=<AWS_ACCESS_KEY_ID>/20150421/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date,
        Signature=***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeImagesResponse xmlns="http://ec2.amazonaws.com/doc/2014-10-01/">
            <requestId>611b66dc-525a-4d11-b954-cc84fc6d6877</requestId>
            <imagesSet>
                <item>
                    <imageId>ami-08e7cf60</imageId>
                    <imageLocation>***REMOVED***</imageLocation>
                    <imageState>available</imageState>
                    <imageOwnerId>***REMOVED***</imageOwnerId>
                    <creationDate>2015-03-25T03:48:45.000Z</creationDate>
                    <isPublic>false</isPublic>
                    <architecture>x86_64</architecture>
                    <imageType>machine</imageType>
                    <kernelId>aki-919dcaf8</kernelId>
                    <name>***REMOVED***</name>
                    <rootDeviceType>ebs</rootDeviceType>
                    <rootDeviceName>/dev/sda1</rootDeviceName>
                    <blockDeviceMapping>
                        <item>
                            <deviceName>/dev/sda1</deviceName>
                            <ebs>
                                <snapshotId>snap-7a624cff</snapshotId>
                                <volumeSize>8</volumeSize>
                                <deleteOnTermination>true</deleteOnTermination>
                                <volumeType>standard</volumeType>
                                <encrypted>false</encrypted>
                            </ebs>
                        </item>
                        <item>
                            <deviceName>/dev/sdb</deviceName>
                            <virtualName>ephemeral0</virtualName>
                        </item>
                    </blockDeviceMapping>
                    <virtualizationType>paravirtual</virtualizationType>
                    <hypervisor>xen</hypervisor>
                </item>
                <item>
                    <imageId>ami-1898b670</imageId>
                    <imageLocation>***REMOVED***</imageLocation>
                    <imageState>available</imageState>
                    <imageOwnerId>***REMOVED***</imageOwnerId>
                    <creationDate>2015-03-23T04:38:17.000Z</creationDate>
                    <isPublic>false</isPublic>
                    <architecture>x86_64</architecture>
                    <ima[...]
