---
http_interactions:
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeImages&DryRun=false&Owner.1=self&Version=2014-10-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20150421T075055Z
      X-Amz-Content-Sha256:
      - b252643070b3e34c345a1599b9ff912e4218bc5ace25f1a3e163062c4cad9ce6
      Authorization:
      - AWS4-HMAC-SHA256 Credential=<AWS_ACCESS_KEY_ID>/20150421/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date,
        Signature=f17c8347d7efa07d8b5002ae253811c12d91cb213ded79162da349c7cee20a56
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeImagesResponse xmlns="http://ec2.amazonaws.com/doc/2014-10-01/">
            <requestId>611b66dc-525a-4d11-b954-cc84fc6d6877</requestId>
            <imagesSet>
              <item>
                <imageId>ami-1a2b3c4d</imageId>
                  <imageLocation>amazon/getting-started</imageLocation>
                  <imageState>available</imageState>
                  <imageOwnerId>123456789012</imageOwnerId>
                  <isPublic>true</isPublic>
                  <architecture>i386</architecture>
                  <imageType>machine</imageType>
                  <kernelId>aki-1a2b3c4d</kernelId>
                  <ramdiskId>ari-1a2b3c4d</ramdiskId>
                  <imageOwnerAlias>amazon</imageOwnerAlias>
                  <name>getting-started</name>
                  <description>Image Description</description>
                  <rootDeviceType>ebs</rootDeviceType>
                  <rootDeviceName>/dev/sda</rootDeviceName>
                  <blockDeviceMapping>
                    <item>
                      <deviceName>/dev/sda1</deviceName>
                      <ebs>
                        <snapshotId>snap-1234567890abcdef0</snapshotId>
                        <volumeSize>15</volumeSize>
                        <deleteOnTermination>false</deleteOnTermination>
                        <volumeType>standard</volumeType>
                      </ebs>
                    </item>
                  </blockDeviceMapping>
                  <virtualizationType>paravirtual</virtualizationType>
                  <tagSet/>
                  <hypervisor>xen</hypervisor>
              </item>
            </imagesSet>
        </DescribeImagesResponse>
  recorded_at: Tue, 21 Apr 2015 07:50:56 GMT
recorded_with: VCR 2.9.3
