---
http_interactions:
- request:
    method: post
    uri: https://rds.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeDBInstances&Version=2014-10-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20150616T050615Z
      X-Amz-Content-Sha256:
      - ***REMOVED***
      Authorization:
      - AWS4-HMAC-SHA256 Credential=***REMOVED***/20150616/ap-northeast-1/rds/aws4_request,
        SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date,
        Signature=***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 69d0d43d-13e5-11e5-bb59-015785c37ea3
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DescribeDBInstancesResponse xmlns="http://rds.amazonaws.com/doc/2014-10-31/">
          <DescribeDBInstancesResult>
            <DBInstances>
              <DBInstance>
                <BackupRetentionPeriod>1</BackupRetentionPeriod>
                <DBInstanceStatus>available</DBInstanceStatus>
                <MultiAZ>false</MultiAZ>
                <VpcSecurityGroups>
                  <VpcSecurityGroupMembership>
                    <Status>active</Status>
                    <VpcSecurityGroupId>sg-218b1044</VpcSecurityGroupId>
                  </VpcSecurityGroupMembership>
                </VpcSecurityGroups>
                <DBInstanceIdentifier>arbq3l5nku9bf8</DBInstanceIdentifier>
                <PreferredBackupWindow>18:07-18:37</PreferredBackupWindow>
                <PreferredMaintenanceWindow>mon:14:06-mon:14:36</PreferredMaintenanceWindow>
                <AvailabilityZone>ap-northeast-1a</AvailabilityZone>
                <CACertificateIdentifier>rds-ca-2015</CACertificateIdentifier>
                <LatestRestorableTime>2015-06-16T05:00:00Z</LatestRestorableTime>
                <ReadReplicaDBInstanceIdentifiers/>
                <Engine>mysql</Engine>
                <PendingModifiedValues/>
                <LicenseModel>general-public-license</LicenseModel>
                <DbiResourceId>db-HX225J53W4VUG2SWCEWFCPXBCY</DbiResourceId>
                <DBSubnetGroup>
                  <VpcId>vpc-31518554</VpcId>
                  <SubnetGroupStatus>Complete</SubnetGroupStatus>
                  <DBSubnetGroupDescription>Subnet group within VPC</DBSubnetGroupDescription>
                  <DBSubnetGroupName>authservice-rdsauthsubnetgroup-qmy8rqoi6y2o</DBSubnetGroupName>
                  <Subnets>
                    <Subnet>
                      <SubnetStatus>Active</SubnetStatus>
                      <SubnetIdentifier>subnet-5d16a32a</SubnetIdentifier>
                      <SubnetAvailabilityZone>
                        <Name>ap-northeast-1a</Name>
                      </SubnetAvailabilityZone>
                    </Subnet>
                    <Subnet>
                      <SubnetStatus>Active</SubnetStatus>
                      <SubnetIdentifier>subnet-8d5699d4</SubnetIdentifier>
                      <SubnetAvailabilityZone>
                        <Name>ap-northeast-1c</Name>
                      </SubnetAvailabilityZone>
                    </Subnet>
                  </Subnets>
                </DBSubnetGroup>
                <Endpoint>
                  <Port>3306</Port>
                  <Address>arbq3l5nku9bf8.ce9hhrq9q5wf.ap-northeast-1.rds.amazonaws.com</Address>
                </Endpoint>
                <EngineVersion>5.6.22</EngineVersion>
                <DBParameterGroups>
                  <DBParameterGroup>
                    <ParameterApplyStatus>in-sync</ParameterApplyStatus>
                    <DBParameterGroupName>***REMOVED***</DBParameterGroupName>
                  </DBParameterGroup>
                </DBParameterGroups>
                <OptionGroupMemberships>
                  <OptionGroupMembership>
                    <OptionGroupName>default:mysql-5-6</OptionGroupName>
                    <Status>in-sync</Status>
                  </OptionGroupMembership>
                </OptionGroupMemberships>
                <PubliclyAccessible>false</PubliclyAccessible>
                <DBSecurityGroups/>
                <DBName>RDSAuth</DBName>
                <AutoMinorVersionUpgrade>true</AutoMinorVersionUpgrade>
                <StorageType>gp2</StorageType>
                <DbInstancePort>0</DbInstancePort>
                <InstanceCreateTime>2015-06-05T07:36:26.518Z</InstanceCreateTime>
                <AllocatedStorage>5</AllocatedStorage>
                <StorageEncrypted>false</StorageEncrypted>
                <MasterUsername>root</MasterUsername>
                <DBInstanceClass>db.m1.small</DBInstanceClass>
              </DBInstance>
              <DBInstance>
                <BackupRetentionPeriod>0</BackupRetentionPeriod>
                <DBInstanceStatus>available</DBInstanceStatus>
                <MultiAZ>false</MultiAZ>
                <VpcSecurityGroups>
                  <VpcSecurityGroupMembership>
                    <Status>active</Status>
                    <VpcSecurityGroupId>sg-26e26f43</VpcSecurityGroupId>
                  </VpcSecurityGroupMembership>
                </VpcSecurityGroups>
                <DBInstanceIdentifier>cc-storage-readonly</DBInstanceIdentifier>
                <PreferredBackupWindow>15:00-15:30</PreferredBackupWindow>
                <PreferredMaintenanceWindow>sat:16:00-sat:16:30</PreferredMaintenanceWindow>
                <StatusInfos>
                  <DBInstanceStatusInfo>
                    <Status>replicating</Status>
                    <StatusType>read replication</StatusType>
                    <Normal>true</Normal>
                  </DBInstanceStatusInfo>
                </StatusInfos>
                <AvailabilityZone>ap-northeast-1a</AvailabilityZone>
                <CACertificateIdentifier>rds-ca-2015</CACertificateIdentifier>
                <ReadReplicaDBInstanceIdentifiers/>
                <Engine>mysql</Engine>
                <PendingModifiedValues/>
                <LicenseModel>general-public-license</LicenseModel>
                <DbiResourceId>db-H2KAIRV37MQEJ7MJOSNUQMIM7Q</Dbi[...]
- request:
    method: post
    uri: https://rds.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=ListTagsForResource&ResourceName=arn%3Aaws%3Ards%3Aap-northeast-1%3A***REMOVED***%3Adb%3Aarbq3l5nku9bf8&Version=2014-10-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20150616T050615Z
      X-Amz-Content-Sha256:
      - ***REMOVED***
      Authorization:
      - AWS4-HMAC-SHA256 Credential=***REMOVED***/20150616/ap-northeast-1/rds/aws4_request,
        SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date,
        Signature=***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 6a01a829-13e5-11e5-a0dd-f19b99b19004
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ListTagsForResourceResponse xmlns="http://rds.amazonaws.com/doc/2014-10-31/">
          <ListTagsForResourceResult>
            <TagList>
              <Tag>
                <Value>RDSAuthInstance</Value>
                <Key>Name</Key>
              </Tag>
              <Tag>
                <Value>RDSAuthInstance</Value>
                <Key>aws:cloudformation:logical-id</Key>
              </Tag>
              <Tag>
                <Value>AuthService</Value>
                <Key>aws:cloudformation:stack-name</Key>
              </Tag>
              <Tag>
                <Value>arn:aws:cloudformation:ap-northeast-1:***REMOVED***:stack/AuthService/e5251800-0b54-11e5-8ca3-50fa59279c7c</Value>
                <Key>aws:cloudformation:stack-id</Key>
              </Tag>
            </TagList>
          </ListTagsForResourceResult>
          <ResponseMetadata>
            <RequestId>6a01a829-13e5-11e5-a0dd-f19b99b19004</RequestId>
          </ResponseMetadata>
        </ListTagsForResourceResponse>
  recorded_at: Tue, 16 Jun 2015 05:06:15 GMT
[...]
- request:
    method: post
    uri: https://rds.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeDBSnapshots&DBInstanceIdentifier=cr226pzsb8a3z4&Version=2014-10-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20150616T050615Z
      X-Amz-Content-Sha256:
      - ***REMOVED***
      Authorization:
      - AWS4-HMAC-SHA256 Credential=***REMOVED***/20150616/ap-northeast-1/rds/aws4_request,
        SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date,
        Signature=***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 6a3fe957-13e5-11e5-804c-4b915169295f
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DescribeDBSnapshotsResponse xmlns="http://rds.amazonaws.com/doc/2014-10-31/">
          <DescribeDBSnapshotsResult>
            <DBSnapshots>
              <DBSnapshot>
                <Port>3306</Port>
                <OptionGroupName>default:mysql-5-6</OptionGroupName>
                <Status>available</Status>
                <Engine>mysql</Engine>
                <SnapshotType>automated</SnapshotType>
                <LicenseModel>general-public-license</LicenseModel>
                <DBInstanceIdentifier>cr226pzsb8a3z4</DBInstanceIdentifier>
                <EngineVersion>5.6.19a</EngineVersion>
                <DBSnapshotIdentifier>rds:cr226pzsb8a3z4-2015-06-14-15-02</DBSnapshotIdentifier>
                <SnapshotCreateTime>2015-06-14T15:02:41.326Z</SnapshotCreateTime>
                <Encrypted>false</Encrypted>
                <VpcId>vpc-31518554</VpcId>
                <StorageType>gp2</StorageType>
                <AvailabilityZone>ap-northeast-1c</AvailabilityZone>
                <InstanceCreateTime>2015-04-10T05:06:22.752Z</InstanceCreateTime>
                <PercentProgress>100</PercentProgress>
                <AllocatedStorage>100</AllocatedStorage>
                <MasterUsername>root</MasterUsername>
              </DBSnapshot>
              <DBSnapshot>
                <Port>3306</Port>
                <OptionGroupName>default:mysql-5-6</OptionGroupName>
                <Status>available</Status>
                <Engine>mysql</Engine>
                <SnapshotType>automated</SnapshotType>
                <LicenseModel>general-public-license</LicenseModel>
    [...]
