---
http_interactions:
- request:
    method: post
    uri: https://ec2.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeAvailabilityZones&Version=2015-04-15
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20150715T031313Z
      X-Amz-Content-Sha256:
      - a4541cc6cd06d90dbf380a65d6eaab5b64476077df590c1b7d34985c7100f489
      Authorization:
      - AWS4-HMAC-SHA256 Credential=<AWS_ACCESS_KEY_ID>/20150715/us-east-1/ec2/aws4_request,
        SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date,
        Signature=badd1d7cf1c4bdb6c866297fa8f5c5e554c34a40d6974fe0690a6b71f2ec8fff
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <DescribeAvailabilityZonesResponse xmlns="http://ec2.amazonaws.com/doc/2015-04-15/">
            <requestId>ab8bf632-6ef1-47b8-97b8-d0ce39d2d23e</requestId>
            <availabilityZoneInfo>
                <item>
                    <zoneName>us-east-1a</zoneName>
                    <zoneState>available</zoneState>
                    <regionName>us-east-1</regionName>
                    <messageSet/>
                </item>
                <item>
                    <zoneName>us-east-1b</zoneName>
                    <zoneState>available</zoneState>
                    <regionName>us-east-1</regionName>
                    <messageSet/>
                </item>
                <item>
                    <zoneName>us-east-1c</zoneName>
                    <zoneState>available</zoneState>
                    <regionName>us-east-1</regionName>
                    <messageSet/>
                </item>
                <item>
                    <zoneName>us-east-1e</zoneName>
                    <zoneState>available</zoneState>
                    <regionName>us-east-1</regionName>
                    <messageSet/>
                </item>
            </availabilityZoneInfo>
        </DescribeAvailabilityZonesResponse>
  recorded_at: Wed, 15 Jul 2015 03:13:14 GMT
recorded_with: VCR 2.9.3
